{% extends 'default.html' %} {% block title %}손글씨 인식모델{% endblock %} {%
block content %}
<div class="container">
    <br><br>
    <h1>숫자인식 모델</h1>
    <form action="/mnist" method="post" name="" enctype="multipart/form-data">
        <div class="mb-3">
                <label for="formFileLg" class="form-label">숫자이미지 선택</label>
                <input class="form-control form-control-lg" name='filename' id="formFileLg" type="file" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">
                인식하고자 하는 숫자이미지를 넣어주세요.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}