{% extends 'default.html' %} {% block title %}손글씨 인식모델{% endblock %} 
{% block content %}
<div class="'container">
    <br><br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{data[1]}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">결과</h5>
              <p class="card-text">예측결과는 {{data[0]}}입니다.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}